<p id="notice"><%= notice %></p>

<p>
  <strong>Comprador:</strong>
  <%= @pedido.comprador %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @pedido.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @pedido.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pedido.estado %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pedido.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @pedido.rg %>
</p>

<p>
  <strong>Tel residencial:</strong>
  <%= @pedido.tel_residencial %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @pedido.cel %>
</p>

<p>
  <strong>Num registro:</strong>
  <%= @pedido.num_registro %>
</p>

<p>
  <strong>Certidao:</strong>
  <%= @pedido.certidao %>
</p>

<p>
  <strong>Processo:</strong>
  <%= @pedido.processo %>
</p>

<p>
  <strong>Endereco imovel:</strong>
  <%= @pedido.endereco_imovel %>
</p>

<p>
  <strong>Casa:</strong>
  <%= @pedido.casa %>
</p>

<p>
  <strong>Valor imovel:</strong>
  <%= @pedido.valor_imovel %>
</p>

<p>
  <strong>Valor entrada:</strong>
  <%= @pedido.valor_entrada %>
</p>

<p>
  <strong>Valor financiado:</strong>
  <%= @pedido.valor_financiado %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
